<link rel="stylesheet" href="../static/style/style.css">
<div>
    <form action="" method="POST">
        <label>Sign in:</label>
        <input type="text" name="username" placeholder="Enter your username" required>
        <input type="text" name="password" placeholder="Enter your password" required>
        <input type="email" name="email" placeholder="Enter your email" required >
        <select name="Hobby">
            <option value="sport">Sport item</option>
            <option value="music">Music item</option>
            <option value="cook">Cook item</option>
        </select>
        <textarea name="comments" rows="5" cols="30"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
<script src="../static/javascript/test.js"></script>